<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nts.connect.pjt3.mapper.PromotionMapper">
	<select id="selectPromotionsAll" resultType="Promotion">
		SELECT prom.id AS id
			, prod.id AS productId
			, prod.description
			, fi.save_file_name
		FROM promotion AS prom
			INNER JOIN product AS prod
				ON prom.product_id = prod.id
			INNER JOIN product_image AS pi
				ON prod.id = pi.product_id
			INNER JOIN file_info AS fi
				ON pi.file_id = fi.id
		WHERE pi.type="ma"
	</select>
</mapper>